<div style='margin:10px;'>
  <img src='https://docs.lemonade.org.br/assets/logo.png' style='height:72px;width:auto;margin-bottom:25px;'/>
  <hr style='border-color:#ebeded;color:#ebeded;'>
  <p><strong>{% trans user=name %}Hello, {{user}}!{% endtrans %}</strong></p>

  <p>{%trans%}Someone has requested a link to change your password, and you can do this through the link below.{%endtrans%}</p>
  <p>{%trans%}If you didn't request this, please ignore this email.{%endtrans%}</p>
  <p>{%trans%}Your password won't change until you access the link above and create a new one.{%endtrans%}</p>
  
  <p><strong><a href="{{link}}">{%trans%}Change my password{%endtrans%}</a></strong>.</p>
  
  <br><p><b>{%trans%}Questions?{%endtrans%}</b>
{%trans%}Visit project <a href='https://docs.lemonade.org.br'>documentation</a> for a complete list of supported operations, plataforms and how to operate Lemonade user interface.{%endtrans%}</p>
</div>

