<div style='margin:10px;'>
  <img src='https://docs.lemonade.org.br/assets/logo.png' style='height:72px;width:auto;margin-bottom:25px;'/>
  <hr style='border-color:#ebeded;color:#ebeded;'>
  <p>{{_('Hello, %(user)s!', user=name)}}</p>
  <p>{%trans%}Welcome and thanks for joining LEMONADE.{%endtrans%}</p>
  <p>{%trans%}First, if you need assistance, please email us, at <a href='mailto:{{support}}'>{{support}}</a>. We can help answer questions about usage, solutions and problems reagarding the platform.{%endtrans%}</p>
  <p>{%trans%}Second, our team is analising your profile and soon as possible you will receive another email that grant your access to the platform.{%endtrans%}</p>

  <br><p><b>{%trans%}Questions?{%endtrans%}</b>
  {%trans%}Visit project <a href='https://docs.lemonade.org.br'>documentation</a> for a complete list of supported operations, plataforms and how to operate the LEMONADE interface.{%endtrans%}</p>
</div>

