Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-RQ2==18.3
Flask-SQLAlchemy==2.5.1
Flask==2.0.1
PyMySQL==1.0.2
SQLAlchemy-i18n==1.1.0
SQLAlchemy==1.4.24
coverage==5.5
eventlet==0.32.0
flask-rq2==18.3
flask-swagger-ui==3.36.0
jinja2==3.0.1
marshmallow==3.13.0
psycopg2-binary==2.9.1
pyaml==21.8.3
pytest==6.2.5
requests==2.26.0
kubernetes==19.15.0
